@model IEnumerable<GeorgianComputers.Models.Product>
@{
    ViewData["Title"] = "Shop at  the Georgian Computer Store!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Please choose a Product</h1>

<ul>
    @*<li>
            <a asp-controller="Store" asp-action="Details" asp-route-product="Product 1">Product 1</a>
        </li>
        <li>
            <a asp-controller="Store" asp-action="Details" asp-route-product="Product 2">Product 2</a>
        </li>
        <li>
            <a asp-controller="Store" asp-action="Details" asp-route-product="Product 3">Product 3</a>
        </li>*@

    @foreach (var product in Model)
    {
        <li>
            <a asp-controller="Store" asp-action="Details" asp-route-product="@product.Name">@product.Name</a>
        </li>
    }
</ul>