@{
    ViewData["Title"] = "Georgian Computers";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Georgian Computers</h1>
    <p>This project is for building Web apps with ASP.NET Core, SQL Server, Entiry Framework and Bootstrap for COMP2084.</p>
</div>
